<form *ngIf="showAddTask" (submit)="addTask()" class="form">
    <div class="label">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Add Task">
    </div>
    <div class="label">
        <label for="day">Date & Time</label>
        <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="Add Day & Time"> 
    </div>
    <div class="labels">
        <label for="remainder">Set Remainder</label>
        <input type="checkbox" name="remainder" id="remainder" [(ngModel)]="remainder">
    </div>
    <input class="btn" type="submit" value="Save Task">
</form>
